{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "OpenText™ Core Application Security Web API Explorer"
  },
  "host": "api.ams.fortify.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v3/api-keys": {
      "get": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Returns a list of API keys",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_GetApiKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApiKeyListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Creates a new API key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_PostApiKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "PostApiKeyRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PostApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/api-keys/{apiKeyId}": {
      "get": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Returns an API key",
        "description": "Allowed Scopes: api-tenant,",
        "operationId": "ApiKeyManagementV3_GetApiKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Updates an existing API key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_PutApiKey",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PostApiKeyRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Deletes the given ApiKey",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_DeleteApiKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The api key id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DeleteApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/DeleteApiKeyResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/api-keys/{apiKeyId}/newsecret": {
      "post": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Creates a new secret for an existing api key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_PostNewSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "The Api Key id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PostApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/api-keys/{apiKeyId}/application-access": {
      "get": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Returns a list of Applications assigned to an API Key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_GetAssignedApplicationsToApiKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "Api Key Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApiKeyApplicationListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Assign applications to API Key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_ApplicationAccess",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyApplicationAccessRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/api-keys/{apiKeyId}/unassign-application-access": {
      "put": {
        "tags": [
          "ApiKeyManagement"
        ],
        "summary": "Unassign applications to API Key",
        "description": "Allowed Scopes: api-tenant",
        "operationId": "ApiKeyManagementV3_UnassignApplicationAccess",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyUnassignApplicationsRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApiKeyResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves an individual application by id",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplication",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update an application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_PutApplication",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The application data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutApplicationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PutApplicationResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/PutApplicationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/PutApplicationResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Deletes an application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DeleteApplicationResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/DeleteApplicationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Retrieve a collection of applications",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplications",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "description": "A delimited list of field filters.\r\n\u003Cbr /\u003E\u003Cbr /\u003EField name and value should be separated by a colon (:).\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2\r\n\u003Cbr /\u003E\u003Cbr /\u003EFiltering is not supported for the following fields: applicationDescription, attributes",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The field name to order the results by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "description": "The direction to order the results by. ASC and DESC are valid values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of fields to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modifiedStartDate",
            "in": "query",
            "description": "The modified on or after date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApplicationListResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create a new application and release",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_PostApplication",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The application data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostApplicationRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PostApplicationResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/auto-report": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns the associated auto-run report type for the application.",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetAutoReport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetAutoReportResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Set-up the associated auto-run report for the application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_PostAutoReport",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The auto report data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostAutoReportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PostAutoReportResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/PostAutoReportResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/users": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of users that have access to the application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetApplicationUsersResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/user-groups": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of user groups that have access to the application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationUserGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetApplicationUserGroupsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/owners": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of users that can be set as an application owner",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationOwners",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApplicationUserListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/user-permissions": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns the permissions the current user has for the application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationUserPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApplicationUserPermissions"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/releases": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of releases for the given application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationReleases",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A delimited list of field filters.\r\n\u003Cbr /\u003E\u003Cbr /\u003EField name and value should be separated by a colon (:).\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2\r\n\u003Cbr /\u003E\u003Cbr /\u003EFiltering is not supported for the following fields: suspended",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The field name to order the results by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "description": "The direction to order the results by. ASC and DESC are valid values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of fields to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "modifiedStartDate",
            "in": "query",
            "description": "The modified on or after date.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ReleaseListResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/issue-count-by-severity": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves number of issues by severity for an application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationIssueCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApplicationIssueCountListResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/scans": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of scans for the given application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetScansByApplicationId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The field name to order the results by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "description": "The direction to order the results by. ASC and DESC are valid values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of fields to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ScanListResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/bug-tracker": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns the bug tracker settings for the given application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationBugTracker",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ApplicationBugTracker"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/microservices": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves a list of Microservices for an application",
        "description": "Allowed Scopes: api-tenant, view-apps",
        "operationId": "ApplicationsV3_GetApplicationMicroservices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "includeReleases",
            "in": "query",
            "description": "Value defaults to true if not specified.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/MicroserviceListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Add a Microservice to an application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_PostApplicationMicroservice",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The microservice data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostMicroserviceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PostMicroserviceResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/microservices/{microserviceId}": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Edit a Microservice for an application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_PutApplicationMicroservice",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "microserviceId",
            "in": "path",
            "description": "The microservice id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The microservice data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostMicroserviceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PostMicroserviceResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete a Microservice for an application",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "ApplicationsV3_DeleteApplicationMicroservice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "microserviceId",
            "in": "path",
            "description": "The microservice id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PostMicroserviceResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/audittemplates": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of audit templates for the given application",
        "description": "Allowed Scopes: api-tenant, manage-issues",
        "operationId": "ApplicationsV3_GetAuditTemplates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "scanType",
            "in": "query",
            "description": "The scan type\u003Cbr /\u003E\u003Cbr /\u003EValues can be obtained by calling GET /api/v3/lookup-items?type=ScanTypes",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AuditTemplateListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Creates/Update Audit templates for the given application",
        "description": "Allowed Scopes: api-tenant, manage-issues",
        "operationId": "ApplicationsV3_PutApplicationAuditTemplates",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "auditTemplatesRequest",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PutAuditTemplateFilterRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AuditTemplateResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AuditTemplateResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/applications/{applicationId}/vulnerabilities/{Id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Returns a list of vulnerabilities with matching InstanceId",
        "description": "Allowed Scopes: api-tenant, view-issues",
        "operationId": "ApplicationsV3_GetVulnerabilityInstancesinApplicationByVulnerabilityId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application Id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The Issue id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A delimited list of field filters.\r\n\u003Cbr /\u003E\u003Cbr /\u003EField name and value should be separated by a colon (:).\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value.\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2.\r\n\u003Cbr /\u003E\u003Cbr /\u003EFiltering is not supported for the following fields: auditPendingAuditorStatus, auditPendingSuppression, checkId, closedDate, closedStatus, falsePositiveChallenge, instanceId, pci1_2, sink, source, stig6, suppressedBy, timeToFixDays",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The field name to order the results by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderByDirection",
            "in": "query",
            "description": "The direction to order the results by. ASC and DESC are valid values.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of fields to return.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the starting record. 0 indicates the first record.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum records to return. The maximum value allowed is 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "includeFixed",
            "in": "query",
            "description": "Indicates if items that have been fixed should be included in the return value. Value defaults to false if not specified.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeSuppressed",
            "in": "query",
            "description": "Indicates if items that have been suppressed should be included in the return value. Value defaults to false if not specified.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "keywordSearch",
            "in": "query",
            "description": "Used for keyword searches",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetVulnerabilitiesResponseVulnerabilityDTOLight"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v3/attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "summary": "Retrieve a list of attributes",
        "description": "Allowed Scopes: api-tenant, view-tenant-data",
        "operationId": "AttributesV3_GetAttribute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "description": "A delimited list of field filters.\r\n\u003Cbr /\u003E\u003Cbr /\u003EField name and value should be separated by a colon (:).\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple fields should be separated by a plus (+). Multiple fields are treated as an AND condition. Example, fieldname1:value+fieldname2:value\r\n\u003Cbr /\u003E\u003Cbr /\u003EMultiple values for a field should be separated by a pipe (|). Mulitple values for a field are treated as an OR condition. Example, fieldname1:value1|value2\r\n\u003Cbr /\u003E\u003Cbr /\u003EFiltering is not supported for the following fields: picklistValues",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AttributeItemListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Attributes"
        ],
        "summary": "Create a new attribute",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "AttributesV3_PostAttribute",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestModel",
            "in": "body",
            "description": "The attribute data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostAttributeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PostAttributeResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/attributes/{attributeId}": {
      "put": {
        "tags": [
          "Attributes"
        ],
        "summary": "Update an attribute",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "AttributesV3_PutAttribute",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attributeId",
            "in": "path",
            "description": "The attribute id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "The attribute data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutAttributeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PutAttributeResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/PutAttributeResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/PutAttributeResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Attributes"
        ],
        "summary": "Deletes an attribute",
        "description": "Allowed Scopes: api-tenant, manage-apps",
        "operationId": "AttributesV3_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attributeId",
            "in": "path",
            "description": "The attribute id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DeleteApplicationResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/DeleteApplicationResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/audittemplate/globalaudittemplates": {
      "get": {
        "tags": [
          "AuditTemplate"
        ],
        "summary": "Returns a list of global audit templates",
        "description": "Allowed Scopes: api-tenant, manage-issues",
        "operationId": "AuditTemplateV3_GetGlobalAuditTemplates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "scanType",
            "in": "query",
            "description": "The scan type\u003Cbr /\u003E\u003Cbr /\u003EValues can be obtained by calling GET /api/v3/lookup-items?type=ScanTypes",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AuditTemplateListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "AuditTemplate"
        ],
        "summary": "Creates/Update Global Audit templates",
        "description": "Allowed Scopes: api-tenant, manage-issues",
        "operationId": "AuditTemplateV3_PutGlobalAuditTemplates",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "auditTemplatesRequest",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PutAuditTemplateFilterRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/AuditTemplateResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/AuditTemplateResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/scan-setup": {
      "get": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Get Dast Automated scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DastAutomatedScansV3_GetDastAutomatedScanSetup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetDastAutomatedScanSetupResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/website-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated Website scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedWebsiteScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedWebsiteScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedWebsiteScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/workflow-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated Workflow scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedWorkflowScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedWorkflowScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedWorkflowScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/openapi-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated Open API scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedOpenApiScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedOpenApiScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedOpenApiScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/graphql-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated GraphQL scan setup details",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedGraphQlScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedGraphQLScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedGraphQLScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/grpc-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated GRPC scan setup details",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedGrpcScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedGrpcScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedGrpcScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/postman-scan-setup": {
      "put": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Saves Dast Automated Postman scan setup details",
        "operationId": "DastAutomatedScansV3_PutDastAutomatedPostmanScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDastAutomatedPostmanScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDastAutomatedPostmanScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/scan-setup/file-upload": {
      "patch": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Uploads a Dast Automated file to release",
        "operationId": "DastAutomatedScansV3_PatchDastAutomatedScanFileUpload",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dastFileType",
            "in": "query",
            "description": "DAST Automated file type",
            "required": true,
            "type": "string",
            "enum": [
              "OpenAPIDefinition",
              "PostmanCollection",
              "GraphQLDefinition",
              "GRPCDefinition",
              "WorkflowDrivenMacro",
              "LoginMacro"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PatchDastAutomatedScanManifestResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dast-automated-scans/start-scan": {
      "post": {
        "tags": [
          "DastAutomatedScans"
        ],
        "summary": "Starts a DAST Automated scan using the current scan setup settings",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DastAutomatedScansV3_StartDastAutomatedScan",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release ID of the scan to start",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "networkName",
            "in": "query",
            "description": "Network Name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/StartDastAutomatedScanResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dynamic-scans/scan-setup": {
      "get": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Get dynamic scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DynamicScansV3_GetDynamicScanSetup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetDynamicScanSetupResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "NotFound"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Saves dynamic scan setup details",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DynamicScansV3_PutDynamicScanSetup",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "The release id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "PutDynamicScanSetupRequest model",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutDynamicScanSetupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PutDynamicScanSetupResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/PutDynamicScanSetupResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/PutDynamicScanSetupResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dynamic-scans/scan-setup/manifest": {
      "patch": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Uploads a web service manifest to the release",
        "operationId": "DynamicScansV3_PatchDynamicScanManifestSetup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "The release id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "webServiceFileType",
            "in": "query",
            "description": "The web service type",
            "required": true,
            "type": "string",
            "enum": [
              "Postman",
              "OpenApi",
              "GraphQL",
              "Grpc",
              "WSDL"
            ]
          },
          {
            "name": "postmanFileType",
            "in": "query",
            "description": "Select a file type (Workflow, Auth, Environment, or Globals). \r\nWorkflow file is required. Defaults to Workflow if not specified.",
            "required": false,
            "type": "string",
            "enum": [
              "Workflow",
              "Auth",
              "Environment",
              "Globals"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PatchDynamicScanSetupManifestResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/PatchDynamicScanSetupManifestResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/PatchDynamicScanSetupManifestResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dynamic-scans/start-scan": {
      "post": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Starts a dynamic scan using the current scan setup settings",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DynamicScansV3_StartDynamicScan",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded",
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release Id of the scan to start",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestModel",
            "in": "body",
            "description": "Options for starting the scan",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartDynamicScanRequest"
            }
          },
          {
            "name": "networkName",
            "in": "query",
            "description": "Network Name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/StartDynamicScanResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dynamic-scans/import-scan": {
      "put": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Saves the contents to import scan file",
        "description": "Allowed Scopes: api-tenant, start-scans",
        "operationId": "DynamicScansV3_PutImportScan",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "Release Id of the scan to import",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fragNo",
            "in": "query",
            "description": "-1 indicates the fragment of bytes has been sent. The value starts with 0 and increments by 1 for each fragment of bytes sent",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the bytes sent. 0 indicates the first bytes",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "fileLength",
            "in": "query",
            "description": "The number of bytes of the file being imported",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "importScanSessionId",
            "in": "query",
            "description": "The unique importScanSessionId to use for the session provided by GET /api/v3/releases/{releaseId}/import-scan-session-id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PutImportScanResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "NotFound"
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v3/releases/{releaseId}/dynamic-scans/dynamic-to-dast": {
      "put": {
        "tags": [
          "DynamicScans"
        ],
        "summary": "Switches Dynamic Scan Setup to Dast Automated",
        "operationId": "DynamicScansV3_PutDynamicSetupDetailsToDastAutomated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "releaseId",
            "in": "path",
            "description": "The release id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/PutDynamicToDastAutomatedResponse"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/eventlogs/download": {
      "get": {
        "tags": [
          "EventLogs"
        ],
        "summary": "Download the last 24 hours of event log data in csv format",
        "description": "Allowed Scopes: api-tenant, view-tenant-data",
        "operationId": "EventLogsV3_Download",
        "consumes": [],
        "produces": [
          "application/x-download"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "file"
            }
          },
          "204": {
            "description": "NoContent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/fortify-on-demand-connect-networks": {
      "get": {
        "tags": [
          "FortifyOnDemandConnectNetworks"
        ],
        "summary": "Retrieve a list of Fortify on Demand Connect networks",
        "description": "Allowed Scopes: api-tenant, view-tenant-data",
        "operationId": "FortifyOnDemandConnectNetworksV3_GetNetworks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/FortifyConnectApiNetworkListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "TooManyRequests"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/api/v3/lookup-items": {
      "get": {
        "tags": [
          "LookupItems"
        ],
        "summary": "Returns a list of lookup items for the given type.",
        "description": "Allowed Scopes: api-tenant, view-tenant-data\r\n            \r\nFor LanguageLevels, the group field indicates the TechnologyTypeId.",
        "operationId": "LookupItemsV3_GetLookupItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "The type of lookup items to return",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "AnalysisStatusTypes",
              "ApplicationTypes",
              "ApiRoles",
              "AssessmentTypes",
              "AttributeDataTypes",
              "AttributeTypes",
              "AuditActionTypes",
              "AuditPreferenceTypes",
              "AuditTemplateConditionTypes",
              "BusinessCriticalityTypes",
              "ConcurrentRequestThreadsTypes",
              "DataExportTypes",
              "DayOfWeekTypes",
              "DastAutomatedScanPolicies",
              "DastAutomatedScanTypes",
              "DynamicMobileScanTypeAuditTemplateFieldTypes",
              "DynamicScanAuthenticationTypes",
              "DynamicScanEnvironmentFacingTypes",
              "DynamicScanWebServiceTypes",
              "EntitlementFrequencyTypes",
              "GeoLocations",
              "LanguageLevels",
              "MobileScanAuditPreferenceTypes",
              "MobileScanEnvironmentTypes",
              "MobileScanExternalDeviceTypes",
              "MobileScanFrameworkTypes",
              "MobileScanPlatformTypes",
              "MobileScanRoleTypes",
              "MultiFactorAuthorizationTypes",
              "NetworkAuthenticationType",
              "NotificationTriggerTypes",
              "OpenSourceScanTypeAuditTemplateFieldTypes",
              "PassFailReasonTypes",
              "RepeatScheduleTypes",
[...]
